.flou {
	display: block;
	height: 400px;
	background-color: blue;
	color: white;
	padding: 20px 200px ;
	margin-top: 60px;
	  }

.child img {
	display: inline-block;
	width: 350px;
	margin-left: 100px;
	margin-top: -210px;
	position: relative;
  			}

.wrap {
	position: absolute;
	width: 300px;
	top: 535px;
	left: 130px;
	height: 80px;
	border-radius: 15px;
	background-color: white;
		}	

.cloud {
	display: inline-block;
	margin-left: 500px;
	margin-top: -389px;
	position: relative;
		}
.self {
	position: absolute;
	width: 300px;
	top: 730px;
	left: 580px;
	height: 80px;
	margin-top: -195px;
	border-radius: 15px;
	background-color: white;
	 }
.text {
	font-size: 26px;
	font-family: "ALK";
}
.shift {
	display: inline-block;
	margin-left: 970px;
	margin-top: -450px;
	position: relative;
	   }
.crown {
	position: absolute;
	width: 300px;
	top: 730px;
	left: 1005px;
	height: 80px;
	margin-top: -140px;
	border-radius: 15px;
	background-color: white
       }   
.find {
	display: inline-block;
	margin-left: 1380px;
	margin-top: -400px;
	position: relative;
	   }
.close {
	position: absolute;
	width: 300px;
	top: 700px;
	left: 1420px;
	height: 80px;
	margin-top: -100px;
	border-radius: 15px;
	background-color: white
 	     }
